@tailwind base;
@tailwind components;
@tailwind utilities;

.font-monospace {
    font-family: monospace;
}

.md\:shadow-brutal {
    --tw-shadow: 5px 5px 0px 0px #000;
    --tw-shadow-colored: 5px 5px 0px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[5px_5px_0px_0px_\#000\],
.shadow-brutal,
.shadow-brutalPressed {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[5px_5px_0px_0px_\#000\],
.shadow-brutal {
    --tw-shadow: 5px 5px 0px 0px #000;
    --tw-shadow-colored: 5px 5px 0px 0px var(--tw-shadow-color);
}

.shadow-brutalSmall, .shadow-brutalXl{
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-brutalSmall{
    --tw-shadow: 4px 4px 0px 0px #000;
    --tw-shadow-colored: 4px 4px 0px 0px var(--tw-shadow-color);
}